@import url('./fonts.css');

* {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-family: 'Deja Vu Sans'
}

body {
    background: #e3e3e3 url('./static/images/background.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    padding: 100px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.forms {
    padding: 45px;
    max-width: 430px;
    background: rgba(0,0,0, 0.7);
    width: 100%;
    box-sizing: border-box;
}

.forms [type="radio"] {
    display: none;
}

.forms > label {
    width: 100px;
    font-size: 22px;
    color: #fff;
    margin-right: 35px;
    text-transform: uppercase;
}

#sign-in-radio:checked + label,
#sign-up-radio:checked + label {
    border-bottom: 4px solid #ffab1a;
    padding: 10px 0;
    font-weight: 400;
}

#sign-in-radio:checked ~ .sign-in,
#sign-up-radio:checked ~ .sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.sign-in .sign-in__input,
.sign-up .sign-up__input {
    width: 100%;
    height: 30px;
    padding: 10px 0;
    margin: 30px 0;
    box-sizing: border-box;
    outline: none;
    font-size: 17px;
    background: none;
    border: none;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.sign-in .sign-in__input::placeholder,
.sign-up .sign-up__input::placeholder {
    color: #fff;
    font-size: 17px;
} 

.sign-in .sign-in__input[type="submit"],
.sign-up .sign-up__input[type="submit"] {
    border: none;
    background: #ffab1a;
    color: #fff;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    text-transform: uppercase;
}

.sign-in .sign-in__input:nth-child(3),
.sign-up .sign-up__input:nth-child(4) {
    display: flex;
    align-items: center;
    align-self: flex-start;
    font-weight: lighter;
    border: none;
    margin: 10px 0 30px;
}

.sign-in label,
.sign-up label {
    color: #fff;
    font-size: 15px;
    flex-wrap: nowrap;
}

.sign-in .sign-in__input [type="checkbox"],
.sign-up .sign-up__input [type="checkbox"] {
    margin-right: 7px;
    width: 18px;
    height: 18px;
}

.sign-in .sign-in__input [type="checkbox"]:checked,
.sign-up .sign-up__input [type="checkbox"]:checked {
    position: relative;
}

.sign-in .sign-in__input [type="checkbox"]:checked:after,
.sign-up .sign-up__input [type="checkbox"]:checked:after {
    position: absolute;
    content: '\2714';
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    background: #2159a7;
    color: #fff;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    text-align: center;
    font-weight: lighter;
}

.sign-in a:link {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.sign-in a:active {
    color: #fff;
}

.sign-in a:hover {
    color: #fff;
}

.sign-in a:visited {
    color: #fff;
}

.sign-in,
.sign-up {
    display: none;
}